<div class="h" style="margin-top: auto">
  <div *ngIf="token && email">
    <div>
      <main>
        <form class="formularz" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" autocomplete="off">
          <div>
            <h1>
              Zmien haslo
            </h1>
          </div>
          <div>
            <label for="email">E-mail</label>
            <input formControlName="email" type="text" id="email" name="email" placeholder="E-mail" class="form-control" />


          </div>
          <div>
            <label for="newPassword">New Password</label>
            <input formControlName="newPassword" type="password" id="password" name="password" placeholder="New Password" class="form-control"
                   [class.is-invalid]="submitted && resetPasswordForm.get('newPassword')?.errors" />
            <span class="text-danger" *ngIf="submitted && resetPasswordForm.get('newPassword')?.hasError('required')">
             New password is required
            </span>
            <span class="text-danger" *ngIf="submitted &&
       resetPasswordForm.get('newPassword')?.hasError('minlength') || resetPasswordForm.get('newPassword')?.hasError('maxlength')">
              Nowe hasło musi miec minimum 8 i maximum 15 zanki
            </span>
          </div>
          <div *ngIf="errorMessages.length >0">
            <app-validation-messages [errorMessages]="errorMessages">

            </app-validation-messages>

          </div>

          <div>
            <button type="submit" class="login-button">Change Password</button>
          </div>
          <div>
            <button type="submit" class="login-button" routerLink="/account/login">Cancel</button>
          </div>
        </form>
      </main>
    </div>

  </div>
</div>
