<div style="width:100vw;margin">
  <section class="content-conteiner" style="margin-top: -100px; ">
    <h2>Welcome to my website</h2>
    <div class="information">
      <p>On this website you can buy a training plan that I personally create.</p>
      <p>If you want to learn more about training plans, click "see plans". If you already have your</p>
      <p> training plan that I prepared for you, click "open your plan".</p>
    </div>
    <button mat-button class="button-section1" routerLink="/items">See plans</button>
    <button mat-button class="button2-section1" routerLink="/account/login">Open your plan</button>
  </section>
  <section class="sekcja2">
    <div class="left">
      <img src="assets/xx.jpg" class="profile-image">
      <!--   <img src="assets/11.jpg" class="profile-image">
       <h2 class="title2">My experiance</h2>
       <div class="about">
         <p>He has been a personal trainer for 10 years. I have extensive</p>
         <p>experience in what I do. Dozens of clients are satisfied with the training</p>
         <p>plans I have prepared. If you want to rebuild your figure, you've come to</p>
         <p> the right place.</p>
       </div>-->
    </div>
    <div class="sek2">
      <div style="z-index:2;">
        <div style=" color: white; display: flex; justify-content: center;">
          <br>
          <br>     <br>
          <br>
          Moje doświadczenie
        </div>
        <br>

        <br>

        <div class="tet">
          Od 10 lat jest trenerem personalnym. Mam obszerne
          doświadczenie w tym, co robię. Ze szkoleń zadowolonych jest kilkudziesięciu klientów
          plany, które przygotowałem. Jeżeli chcesz odbudować swoją sylwetkę to dobrze trafiłeś
          właściwe miejsce.
        </div>
        <!--
        <p>He has been a personal trainer for 10 years. I have extensive</p>
        <p>experience in what I do. Dozens of clients are satisfied with the training</p>
        <p>plans I have prepared. If you want to rebuild your figure, you've come to</p>
        <p> the right place.</p>-->
      </div>
    </div>

  </section>

  <section class="sekcja3">
    <div class="left3">
      <video autoplay loop muted playsinline>
        <source src="assets/test.mp4" type="video/mp4">
      </video>
    </div>
    <div class="right3">
      <div class="content">
        <span class="dot"></span>Setki zadowolonych klientów<br><br><br><br>
        <span class="dot"></span>Idywidualny plan dostosowany do ciebie<br><br><br><br>
        <span class="dot"></span>Kup  już dziś w atrakcyjnej cenie
      </div>

    </div>


  </section>
  <section class="education" id="education">
    <div class="panel2">
      Jak to działa?
    </div>
    <div class="panel1">
      <div class="edeucation-row">
        <div class="education-column">
          <div class="education-box">
            <div class="education-content">
              <div class="content">
                <div class="year"><i class='bx bx-loader bx-spin'></i> Krok 1.</div>
                <h3>Przejdź do zakładki użytkownika. Zarejestruj się lub zaloguj.</h3>
              </div>
            </div>
            <div class="education-content">
              <div class="content">
                <div class="year"><i class='bx bx-loader bx-spin'></i> Krok 2.</div>
                <h3>
                  Wybierz plan treningowy, który ci odpowiada. Kup go i oczekuj na plan <br>
                  przygotowany dla ciebie.
                </h3>

              </div>
            </div>
            <div class="education-content">
              <div class="content">
                <div class="year"><i class='bx bx-check-square'></i> Krok 3.</div>
                <h3>
                  Idź na siłownię i korzystaj z planu treningowego, który wyświetli się <br>
                  w zakładce "Plan treningowy" po zalogowaniu.
                </h3>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>

